@import url('https://fonts.googleapis.com/css2?family=Notable&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: cyberpunk --default;
}

@theme {
  --font-display: 'Notable', sans-serif;
  --font-body: 'Work Sans', sans-serif;
  --color-theme-01: #001524;
  --color-theme-02: #15616d;
  --color-theme-03: #ffecd1;
  --color-theme-04: #ff7d00;
  --color-theme-05: #78290f;
}